.App {
  font-family: sans-serif;
  text-align: center;
}
.ListItem {
  padding: 4px;

  align-items: center;
}
a {
  color: black;
  text-decoration: none;
}
img {
  height: 15px;
}
.img-border {
  width: 30px;
  margin-left: 10rem;
  margin-top: 1rem;
}
.name-border {
  display: block;
  margin-left: auto;
  margin-right: auto;

  width: 15%;
}
